<div class="d-flex align-items-center text-white" id="saibamais-notredame"
    style="background: url('../../../assets/notredame/image1.jpg') no-repeat top center;">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-md-6 text-center" style="margin-top: 4em;">
                <img loading="lazy" [src]="notreDameData.logo" [alt]="notreDameData.logoAlt" class="img-fluid rounded-circle shadow-lg mb-4"
                    style="max-width: 250px;">
                <p class="lead mb-4" style="color: #f0f0f0;">
                    {{ notreDameData.description }}
                </p>
                <hr class="my-4" style="border-color: rgba(255,255,255,0.2);">
                <button type="button"
                    class="btn btn-warning btn-lg rounded-pill px-5 fs-4 text-white fw-semibold text-uppercase shadow-lg">confira
                    os planos</button>
            </div>
        </div>
    </div>
</div>
<!-- Imagem de <a href="https://www.freepik.com/free-photo/asian-young-happy-family-enjoy-vacation-beach-evening-dad-mom-kid-relax-running-together-near-sea-while-silhouette-sunset-lifestyle-travel-holiday-vacation-summer-concept_7685881.html">Freepik</a> -->