<div class="row ">
    <div class="col-12 text-center mb-4">
        <img src="assets/logos/usisaude.jpg" alt="Logotipo" class="img-fluid" style="max-width: 150px;" loading="lazy">
    </div>

    <div
        class="col-md-6 d-flex flex-column justify-content-center align-items-center bg-success p-5 rounded shadow-lg position-relative">
        <div class="ribbon">🔥 Oferta Especial!</div>
        <h2 class="fw-bold text-light display-4 text-center">📞 Fale com um Especialista Agora!</h2>
        <p class="text-light text-center mb-4">Tire todas as suas dúvidas em tempo real com nosso time de atendimento
            exclusivo. Estamos prontos para ajudar você a escolher o melhor plano de saúde!</p>
        <button class="btn btn-lg btn-light px-5 py-4 mt-3">
            <i class="fab fa-whatsapp fa-2x me-3"></i>
            <span class="fs-2 fw-semibold text-success">Consultar no WhatsApp</span>
        </button>
        <p class="mt-4 text-light"><small>👉 Clique e converse agora mesmo!</small></p>
    </div>

    <div
        class="col-md-6 d-flex flex-column justify-content-center align-items-center bg-light p-5 rounded shadow-lg position-relative">
        <div class="ribbon">🔥 Oferta Relâmpago!</div>
        <h2 class="font-weight-bold text-danger display-3 fw-semibold text-center">🚨 Promoção Relâmpago!</h2>
        <p class="text-dark text-center mb-4">Desconto exclusivo de <strong>30%</strong> no Plano USISaúde.
            <strong>Oferta válida por tempo limitado!</strong>
        </p>
        <div class="display-3 text-warning text-center" id="promo-timer">{{ horasRestantes }}:{{ minutosRestantes }}:{{
            segundosRestantes }}</div>
        <p class="text-danger font-weight-bold text-center mt-3">⏳ Corra! A oferta acaba em poucas horas. Não perca essa
            chance!</p>
        <div class="d-flex justify-content-center align-items-center mt-4">
            <div class="mr-3 text-right">
                <span class="text-muted h5">De:</span>
                <span class="h3 text-muted"><s>R$ 599,00</s></span>
            </div>
            <div class="ml-3">
                <span class="text-muted h5">Por:</span>
                <span class="h2 text-success font-weight-bold">R$ 419,00</span>
            </div>
        </div>
        <div class="mt-3 text-center">
            <p class="text-muted">💡 Você economiza <strong>R$ 180,00!</strong></p>
        </div>
        <button class="btn btn-lg btn-primary px-5 py-4 mt-4">🌟 Garanta Agora e Economize!</button>
        <p class="mt-4 text-dark"><small>🎯 Oferta válida somente até meia-noite!</small></p>
    </div>
</div>