<section class="history-section py-5 text-white">
    <div class="container">
        <div class="row align-items-center mb-5">
            <div class="col-lg-6 mb-4 mb-lg-0">
                <img src="https://images.pexels.com/photos/5824085/pexels-photo-5824085.jpeg"
                    alt="Profissional de saúde atendendo um paciente" class="img-fluid shadow-lg" loading="lazy">
            </div>
            <div class="col-lg-6">
                <h2 class="mb-4">Nossa História</h2>
                <p class="lead mb-4">
                    Com mais de 50 anos de história, a Unimed se tornou a maior cooperativa de saúde do Brasil. Presente
                    em todo o território nacional, oferece um portfólio diversificado de serviços e um compromisso
                    inabalável com a qualidade do atendimento.
                </p>
                <p>
                    Desde sua fundação, a Unimed tem se dedicado a oferecer cuidados de saúde de excelência, contando
                    com uma rede de médicos, hospitais e clínicas que trabalham em conjunto para garantir a saúde e o
                    bem-estar de seus clientes.
                </p>
                <p>
                    A Unimed é reconhecida pela sua qualidade no atendimento, e com isso, se destaca como um dos
                    principais planos de saúde do país. Acreditamos que cuidar da saúde é uma forma de investir na
                    qualidade de vida e no futuro das pessoas.
                </p>
            </div>
        </div>
        <hr class="my-5">
        <div class="row">
            <div class="col-lg-6">
                <h3 class="mb-4">Nossos Valores</h3>
                <ul class="lead">
                    <p class="mb-4">
                        Os valores que regem a Unimed são essenciais para o desenvolvimento da nossa missão de promover
                        saúde e bem-estar, sempre com respeito e ética.
                    </p>
                    <li><strong>Ética:</strong> A ética é o nosso princípio norteador. Atuamos com transparência e
                        responsabilidade.</li>
                    <li><strong>Qualidade:</strong> A qualidade no atendimento é nosso compromisso. Estamos sempre em
                        busca da excelência.</li>
                    <li><strong>Humanização:</strong> O cuidado com o próximo é essencial. Valorizamos o ser humano em
                        todas as nossas relações.</li>
                    <li><strong>Inovação:</strong> Buscamos constantemente inovações para aprimorar nossos serviços e o
                        atendimento aos clientes.</li>
                    <li><strong>Sustentabilidade:</strong> Comprometemo-nos com práticas que respeitam o meio ambiente e
                        promovem o desenvolvimento sustentável.</li>
                </ul>
            </div>
            <div class="col-lg-6">
                <h3 class="mb-4">Planos de Saúde</h3>
                <p class="lead">
                    Oferecemos uma variedade de planos de saúde para atender às necessidades de nossos clientes, desde
                    planos individuais até empresariais, todos com coberturas abrangentes.
                </p>
                <p class="lead">
                    Nossos planos incluem:
                </p>
                <ul>
                    <li>Atendimentos médicos em diversas especialidades;</li>
                    <li>Consultas e exames sem fila de espera;</li>
                    <li>Assistência 24h e telemedicina;</li>
                    <li>Rede credenciada de hospitais e clínicas de excelência.</li>
                </ul>
            </div>
            <img src="assets/unimed/image2.jpg" alt="Médico conversando com paciente" class="img-fluid rounded "
                loading="lazy">
        </div>
        <hr class="my-5">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="mb-4">Compromisso com a Saúde</h3>
                <p class="lead mb-4">
                    Na Unimed, acreditamos que a saúde é um direito de todos e nos comprometemos a oferecer serviços de
                    saúde acessíveis, de qualidade e que promovam o bem-estar.
                </p>
                <p>
                    Temos orgulho de fazer parte da vida das pessoas, oferecendo segurança e conforto através de um
                    atendimento humano e acolhedor. Para saber mais sobre nossos planos e serviços, entre em contato
                    conosco e descubra como podemos ajudar você a cuidar da sua saúde.
                </p>
                <img src="https://images.pexels.com/photos/4161540/pexels-photo-4161540.jpeg"
                    alt="Equipe de profissionais de saúde" class="img-fluid" loading="lazy">
            </div>
        </div>
    </div>
</section>