<div class="d-flex align-items-center text-white" id="apresentation-unisaude"
    style="background: url('../../../assets/usisaude/image1.jpg') no-repeat center center;">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-md-6 text-center" style="margin-top: 4em;">
                <img loading="lazy" [src]="usisaudeData.logo" [alt]="usisaudeData.logoAlt" class="img-fluid rounded-circle mb-4 shadow-lg"
                    style="max-width: 250px;">
                <p class="lead mb-4" style="color: #f0f0f0;">
                    A cada ano construindo nossa história e nosso foco em você
                </p>
                <hr class="my-4" style="border-color: rgba(255,255,255,0.2);">
                <button type="button"
                    class="btn btn-warning btn-lg rounded-pill px-5 fs-4 text-white fw-semibold text-uppercase shadow-lg">confira
                    os planos</button>
            </div>
        </div>
    </div>
</div>
<!-- Imagem de <a href="https://br.freepik.com/fotos-gratis/conceito-bonito-do-dia-das-maes-com-mae-e-filha_1937473.htm#query=amor%20de%20mae&position=15&from_view=keyword&track=ais_hybrid&uuid=f954185f-b6e9-41a1-8334-9ee57604f670">Freepik</a> -->