<nav class="navbar navbar-expand-xxl d-flex flex-column align-items-center sticky-top bg-body-tertiary py-0">
  <div id="alertInstagram"
    class="alert alert-dismissible d-flex justify-content-center align-items-center fade show w-100 text-center rounded-0 text-light mb-0 py-1"
    role="alert">
    <div class="animate__animated animate__pulse animate__infinite infinite">
      <i class="fa-brands fa-instagram fa-1x me-2" loading="lazy"></i>
      <strong id="instagramMsn">
        Fique por dentro das promoções em nosso
        <a href="https://www.instagram.com/oceaniaseguros?igsh=MW0zYnQ2NjlpaXpxNg==" target="_blank"
          class="link-offset-1 text-white">Instagram</a>!!!
      </strong>
    </div>
    <button type="button" class="btn-close py-0 text-white mt-2" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>

  <div class="container-fluid d-flex justify-content-center align-items-center">
    <div class="py-2">
      <a class="navbar-brand d-flex align-items-center" href="#">
        <img src="assets/logo.svg" alt="Logo" width="60" height="34" class="d-inline-block align-text-center"
          loading="lazy">
        <span class="fs-4 fw-medium text-center">Oceania Seguros</span>
      </a>
    </div>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navItems"
      aria-controls="navItems" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navItems">
      <div class="d-flex flex-column flex-xl-row justify-content-center align-items-center w-100 ">
        @for (plano of planos; track $index) {
          <button type="button" class="btn rounded-0 btn-animation fs-7 " [routerLink]="'/'+plano.tinyName"
            routerLinkActive="activeHostButton">{{ plano.name }}</button>
        }
      </div>
    </div>
  </div>
</nav>