<nav class="navbar navbar-expand-xxl d-flex flex-column align-items-center fixed-top bg-body-tertiary py-0">
    <div class="container-fluid d-flex justify-content-center align-items-center">
      <div class="py-2">
        <a class="navbar-brand d-flex align-items-center " href="#">
          <img src="assets/logo.svg" alt="Logo" width="60" height="34" class="d-inline-block align-text-center"> Oceania
          Seguros
        </a>
      </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navItems"
        aria-controls="navItems" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navItems">
        <div class="d-flex flex-xl-row flex-column flex-fill justify-content-xl-center justify-content-around flex-wrap h-100">
          <button type="button" class="btn rounded-0 btn-animation fs-7 " routerLink="/usisaude"
            routerLinkActive="activeHostButton">Usisaúde</button> 
          <button type="button" class="btn rounded-0 btn-animation fs-7 " routerLink="/yousaude"
            routerLinkActive="activeHostButton">You Saúde</button>
          <button type="button" class="btn rounded-0 btn-animation fs-7 " routerLink="/notredame"
            routerLinkActive="activeHostButton">NotreDame</button>
          <button type="button" class="btn rounded-0 btn-animation fs-7 " routerLink="/hapvida"
            routerLinkActive="activeHostButton">Hapvida</button>
          <button type="button" class="btn rounded-0 btn-animation fs-7 " routerLink="/medsenior"
            routerLinkActive="activeHostButton">MedSenior</button>
          <button type="button" class="btn rounded-0 btn-animation fs-7 " routerLink="/goldencross"
            routerLinkActive="activeHostButton">Golden Cross</button>
          <button type="button" class="btn rounded-0 btn-animation fs-7 " routerLink="/amil"
            routerLinkActive="activeHostButton">Amil</button>
          <button type="button" class="btn rounded-0 btn-animation fs-7 " routerLink="/sulamerica"
            routerLinkActive="activeHostButton">SulAmérica</button>
          <button type="button" class="btn rounded-0 btn-animation fs-7 " routerLink="/unimed"
            routerLinkActive="activeHostButton">Unimed</button>
        </div>
      </div>
    </div>
  </nav>