<section class="container-fluid my-5 py-5">
  <div class="row justify-content-center py-5">
    <div class="col-md-11">
      <div class="row shadow-lg rounded-lg overflow-hidden">
        <div class="col-md-5 d-flex flex-column bg-info text-white p-5 animate__animated animate__fadeInLeft">
          <h3 class="mb-4"><i class="fas fa-handshake fa-lg "></i> Consulte Corretora</h3>
          <p style="text-align: justify;">Consulte qual é o melhor benefício para sua <strong>EMPRESA</strong> ou
            <strong>PARA VOCÊ</strong>. Nossa
            cesta de serviços é composta por:</p>

          <ul class="list-unstyled ">
            @for (benefit of benefits; track $index) {
            <li class="mb-3"><i class="fas fa-check-circle fa-lg me-3"></i>{{benefit}}</li>
            }
          </ul>

          <div class="mt-4 mb-4">
            <h3 class="mb-3"><i class="fas fa-phone-alt fa-lg mb-4"></i> Contatos</h3>
            <p><i class="fas fa-phone fa me-3"></i> Telefone: (31) 99901-1452</p>
            <p><i class="fas fa-envelope fa me-3"></i> E-mail: contato&#64;consultecorretora.com.br</p>
            <p><i class="fab fa-whatsapp fa me-3"></i> WhatsApp: <a href="https://wa.me/553199011452"
                class="text-white">+55 (31) 99901-1452</a></p>
          </div>

          <div class="mt-4 flex-fill">
            <h3><i class="fas fa-map-marker-alt fa-lg me-4 mt-4"></i> Endereço</h3>
            <p>Avenida Serra do Contorno, 284 - MG<br>Vespasiano, Serra Dourada - 33202-556</p>
          </div>
          <a href="https://api.whatsapp.com/send?phone=553199011452&text=Ol%C3%A1%20tudo%20bem?%20Cheguei%20aqui%20pelo%20site%20e%20gostaria%20de%20tirar%20algumas%20d%C3%BAvidas."
            class="mb-5" style="text-decoration: none;" target="_blank">
            <button
              class="btn btn-outline-success btn-lg text-center d-flex align-itens-center justify-content-center text-white border-white">
              <i class="fa-brands fa-whatsapp fa-2x me-2"></i>
              <span class="fs-3 fw-semibold">Consulte no WhatsApp!</span>
            </button>
          </a>
        </div>

        <div class="col-md-7 bg-white p-5 animate__animated animate__fadeInRight">
          @for (info of infos; track $index) {
          <div class="mb-5" (mouseover)="hoveredIndex = $index+200" (mouseleave)="hoveredIndex = null"
            [ngClass]="{'hover-effect': hoveredIndex === $index+200}">
            <i [classList]="info.icon"></i>
            <h4><i [classList]="info.subIcon"></i>{{info.title}}</h4>
            <p><i class="fas fa-quote-left me-2"></i>{{info.description}}</p>
          </div>
          }
        </div>
      </div>
    </div>
  </div>
</section>