:host {
    .bg-info {
        background-color: #17a2b8 !important;
    }

    .rounded-lg {
        border-radius: 15px;
    }

    .shadow-lg {
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    }

    .p-5 {
        padding: 3rem !important;
    }

    .hoverable-div {
        padding: 20px;
        background-color: #13909d;
        border-radius: 10px;
        transition: background-color 0.3s, transform 0.3s;
    }

    .hover-effect {
        transform: scale(1.05);
    }
}