<div class="topContent d-flex align-items-center text-white" id="apresentation-unimed"
    style="background: url('../../../assets/unimed/image1.jpg') no-repeat top center;">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-md-6 text-center" style="margin-top: 4em;">
                <img loading="lazy" [src]="unimedData.logo" [alt]="unimedData.logoAlt" class="img-fluid rounded-circle mb-4 shadow-lg"
                    style="max-width: 250px;">
                <p class="lead mb-4" style="color: #f0f0f0;">
                    A cada ano construindo nossa história e nosso foco em você
                </p>
                <hr class="my-4" style="border-color: rgba(255,255,255,0.2);">
                <button type="button"
                    class="btn btn-warning btn-lg rounded-pill px-5 fs-4 text-white fw-semibold text-uppercase shadow-lg">confira
                    os planos</button>
            </div>
        </div>
    </div>
</div>