<section class="history-section py-5 text-white">
    <div class="container">
        <div class="row align-items-center mb-5">
            <div class="col-lg-5 mb-4 me-5 mb-lg-0 bg-white p-2 rounded">
                <img src="assets/yousaude/image2.jpg"
                    alt="Mulher sorridente com cabelo cacheado preso, olhando para o lado enquanto segura uma caneta, com um copo de suco verde ao fundo"
                    class="img-fluid shadow-lg" defer>
            </div>
            <div class="col-lg-6">
                <h2 class="mb-4">Sobre a You Saúde</h2>
                <p class="lead mb-4">
                    A You Saúde é mais do que apenas um plano de saúde. Trazemos conosco felicidade, segurança e
                    tranquilidade para você e para quem você ama. Somos novos, mas já nascemos grandes. Proporcionamos
                    aos nossos clientes uma ampla e qualificada rede de atendimento com um preço que cabe no seu bolso.

                </p>
                <p>
                    Já impactamos a vida de 200 mil brasileiros, e vamos aumentar esse número cuidando do seu bem mais
                    precioso: sua saúde. Com muito comprometimento e dedicação, nos tornaremos uma das maiores e
                    melhores redes de plano de saúde do país!
                </p>
                <p>
                    Aqui, existe um plano de saúde pensado para cada tipo de necessidade. Por isso, oferecemos
                    diferentes tipos de planos, e um deles é o ideal para você. Empresarial, individual ou familiar.
                    Cobertura ambulatorial ou hospitalar. O plano perfeito para você está aqui!
                </p>
                <h2 class="my-4">Nossa proposta</h2>
                <p>
                    Nosso objetivo é levar felicidade a você, garantindo o cuidado com sua saúde, preços acessíveis e
                    dedicação no nosso trabalho. Por isso, trazemos o sorriso em nossa marca!
                </p>
            </div>
            <div>
            </div>
        </div>
        <hr class="my-5">
        <div class="ratio ratio-16x9 p-5">
            <iframe src="https://www.youtube.com/embed/SFfDgbtM7sM?autoplay=1&amp;feature=oembed" title="YouTube video"
                allowfullscreen loading="lazy"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"></iframe>
        </div>
        <hr class="my-5">
    </div>
</section>
<!-- <a href="https://br.freepik.com/fotos-gratis/retrato-de-familia-feliz-casamento-interracial-com-um-bebe_8049684.htm#page=3&query=familia%20moderna&position=1&from_view=keyword&track=ais_hybrid&uuid=1bfd450f-53bd-4a07-ba79-2b9f6d0f4a63">Imagem de master1305</a> no Freepik -->