<section class="topContent d-flex align-items-center text-white" >
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-md-6 text-center" style="margin-top: 4em;">
                    <img loading="lazy" [src]="yousaudeData.logo" [alt]="yousaudeData.logoAlt" class="img-fluid rounded-circle mb-3" style="max-width: 250px;" loading="lazy">
                <p class="lead mb-4" style="color: #f0f0f0;">
                    {{ yousaudeData.description }}
                </p>
                <hr class="my-4" style="border-color: rgba(255,255,255,0.2);">
                <button type="button" class="btn btn-warning btn-lg rounded-pill px-5 fs-4 text-white fw-semibold text-uppercase shadow-lg">confira os planos</button>
            </div>
        </div>
    </div>
</section>
<!-- Imagem de <a href="https://br.freepik.com/fotos-gratis/familia-sorridente-de-plano-medio-com-tablet_13662646.htm#query=familia%20moderna&position=4&from_view=keyword&track=ais_hybrid&uuid=1bfd450f-53bd-4a07-ba79-2b9f6d0f4a63">Freepik</a> -->