:host{
    #amil-apresentation{
        position: relative;
        width: 100%;
        background-color: #004a7c; 
        min-height: 70vh;
        background-size: 100% !important;
    }
    #amil-apresentation::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.579); 
        z-index: 1;
    }
    #amil-apresentation > * {
        position: relative;
        z-index: 2;
    }

    @media (max-width: 1032px) {
        #amil-apresentation {
            background-size: cover !important;
        }
    }
}