<section class="topContent d-flex align-items-center text-white"
    style=" background: url('../../../assets/amil/image1.jpg') no-repeat center center;">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-md-6 text-center" style="margin-top: 4em;">
                <img loading="lazy" [src]="amilData.logo" [alt]="amilData.logoAlt" class="img-fluid rounded mb-3"
                    style="max-width: 250px;">
                <p class="lead mb-4" style="color: #f0f0f0;">
                    {{ amilData.description }}
                </p>
                <hr class="my-4" style="border-color: rgba(255,255,255,0.2);">
                <button type="button"
                    class="btn btn-warning btn-lg rounded-pill px-5 fs-4 text-white fw-semibold text-uppercase shadow-lg">confira
                    os planos</button>
            </div>
        </div>
    </div>
</section>
<!-- <a href="https://br.freepik.com/imagem-ia-gratis/retrato-em-close-up-do-casal-juntos_94962261.htm#fromView=search&page=2&position=41&uuid=9c068d64-5fd4-4467-8dc2-25f86025ff82">Imagem de master1305</a> no Freepik -->