<section class="py-5 text-white" id="saibamais-medsenior">
    <div class="container">
        <div class="row align-items-center mb-5">
            <div class="col-12 text-center">
                <h2 class="mb-4">Conheça a MedSênior</h2>
                <p class=" mb-4">
                    A MedSênior é uma operadora especializada em planos de saúde voltados para o público sênior,
                    oferecendo um cuidado completo e integrado para a terceira idade. São diversas unidades
                    distribuídas estrategicamente por todo o Brasil, com destaque para Espírito Santo, Minas Gerais,
                    Rio de Janeiro e Distrito Federal.
                </p>
            </div>
        </div>

        <hr class="my-5">

        <div class="row">
            <div class="col-lg-6">
                <h3 class="mb-4">Unidades por Região</h3>
                <ul class="">
                    <li><strong>Distrito Federal:</strong> Brasília, Taguatinga Norte, Asa Sul</li>
                    <li><strong>Espírito Santo:</strong> Vitória, Vila Velha, Serra</li>
                    <li><strong>Minas Gerais:</strong> Belo Horizonte, Contagem, Pampulha</li>
                    <li><strong>Rio de Janeiro:</strong> Botafogo, Tijuca, Niterói</li>
                    <li><strong>Paraná:</strong> Curitiba - Batel</li>
                    <li><strong>São Paulo:</strong> Paulista, Tatuapé, Santana</li>
                </ul>
                <p class="mb-5">
                    Cada unidade é equipada com infraestrutura de ponta para atendimento ambulatorial, exames de
                    diagnóstico e pronto atendimento. Além disso, oferecemos oficinas de saúde voltadas ao bem-estar
                    dos beneficiários.
                </p>
                <h3 class="mb-4">Referência em Saúde</h3>
                <p class="mb-4">
                    A MedSênior conta com uma equipe profissional multidisciplinar especializada, além de uma robusta
                    estrutura própria focada na inovação e no bom atendimento, com investimentos em recursos próprios,
                    ampliando continuamente sua rede de assistência aos usuários..
                </p>

            </div>
            <div class="col-lg-6">
                <img src="assets/medsenior/image1.jpg" alt="Unidade MedSênior" class="img-fluid rounded shadow-lg"
                    loading="lazy">
            </div>
        </div>

        <hr class="my-5">

        <div class="row">
            <div class="col-lg-6">
                <img src="assets/medsenior/image2.jpg" alt="Oficina de Saúde MedSênior"
                    class="img-fluid rounded shadow-lg" loading="lazy">
            </div>
            <div class="col-lg-6">
                <h3 class="mb-4">Oficinas de Saúde</h3>
                <p class=" mb-4">
                    A MedSênior promove oficinas e atividades como "Arte Terapia" e "Educa a Dor", oferecendo um
                    ambiente acolhedor e focado no desenvolvimento físico e mental dos nossos clientes.
                </p>
            </div>
        </div>

        <hr class="my-5">

        <div class="row">
            <div class="col-lg-6">
                <h3 class="mb-4">Programas de Saúde Personalizados</h3>
                <p class="lead mb-4">
                    Oferecemos uma gama de programas para promover a saúde e a qualidade de vida, entre eles:
                </p>
                <ul class="lead">
                    <li><strong>Arte Terapia:</strong> Atividades que promovem inclusão e bem-estar mental.</li>
                    <li><strong>Educa a Dor:</strong> Exercícios específicos para aliviar dores crônicas.</li>
                    <li><strong>Medicina Preventiva:</strong> Acompanhamento contínuo para evitar doenças graves.</li>
                    <li><strong>Programas de Envelhecimento Ativo:</strong> Incentivo a atividades físicas e sociais.</li>
                </ul>
            </div>
            <div class="col-lg-6">
                <h3 class="mb-4">Diferenciais e Inovação</h3>
                <p class="lead">
                    O compromisso da MedSênior é com a excelência e inovação. Entre nossos diferenciais estão:
                </p>
                <ul class="lead">
                    <li><strong>Rede Própria Integrada:</strong> Atendimento especializado em nossas unidades, 
                        garantindo continuidade no cuidado.</li>
                    <li><strong>Telemedicina:</strong> Consultas remotas com especialistas para facilitar o acesso à saúde.</li>
                    <li><strong>Centros Diagnósticos Modernos:</strong> Equipamentos de última geração para exames rápidos e precisos.</li>
                    <li><strong>Cuidado Próximo e Personalizado:</strong> Atendimento humanizado com foco no bem-estar do cliente.</li>
                </ul>
            </div>
        </div>

        <hr class="my-5">
    </div>
</section>