<section class="py-5 text-white" id="saibamais-medsenior">
    <div class="container">
        <div class="row align-items-center mb-5">
            <div class="col-lg-6 mb-4 mb-lg-0">
                <img src="assets/usisaude/image3.svg"
                    alt="Mulher sorridente com cabelo cacheado preso, olhando para o lado enquanto segura uma caneta, com um copo de suco verde ao fundo"
                    class="img-fluid rounded-circle shadow-lg" loading="lazy">
            </div>
            <div class="col-lg-6">
                <h2 class="mb-4">Nossa História</h2>
                <p class="lead mb-4">
                    Quase 30 anos de história e credibilidade indiscutível chegaram em BH. A Usisaúde é reconhecida com
                    nota máxima no IDSS da ANS pelo 4° ano consecutivo. Uma operadora administrada pela Fundação São
                    Francisco Xavier (FSFX), que soma atualmente mais de 231 beneficiários ativos nos setores
                    médico-hospitalar, odontológico e de transporte aeromédico. Com olhar visionário, criou um projeto
                    de reestruturação do edifício histórico da Pampulha, onde, em março de 2022, será um hospital que
                    atenderá a rede própria da Usisaúde. Um centro de atendimento hospitalar novinho, com infraestrutura
                    completa.
                </p>
                <p>
                    Em parceria com a Qualicorp Administradora de Benefícios, a UsiSaúde comercializa o plano coletivo
                    por adesão (individual). Para isso, é necessário ser filiado a alguma entidade de classe. Entre em
                    contato com um de nossos consultores para mais informações. Além dos planos individuais, a Usisaúde
                    também comercializa plano para pequenas, médias e grandes empresas (PME e Empresariais). Consulte um
                    de nossos consultores para mais informações.
                </p>
            </div>
        </div>
        <hr class="my-5">
        <div class="row">
            <div class="col-lg-6">
                <h3 class="mb-4">Nossos Valores</h3>
                <ul class="lead">
                    <p class="mb-4">
                        Os valores organizacionais são a espinha dorsal da identidade da Fundação São Francisco Xavier,
                        moldando nossa cultura, práticas e o nosso impacto nas comunidades onde estamos presentes. Eles
                        são aplicáveis a todos os negócios da Fundação, seja no segmento da saúde ou da educação.
                        Afinal, são os valores e condutas que nos conectam!
                    </p>
                    <li><strong>Ética:</strong> Ética é inegociável! Trabalhamos de forma ética, transparente e íntegra,
                        buscando ser referência de conduta exemplar, com tratamento igualitário e respeito à
                        diversidade.</li>
                    <li><strong>Sustentabilidade:</strong> Sustentabilidade é vital! Temos compromisso com a
                        sustentabilidade por meio de uma cultura de geração de valor para a sociedade, promovendo
                        desenvolvimento socioambiental, otimização de recursos e geração de resultados.</li>
                    <li><strong>Valorização das Pessoas:</strong> O que nos move são as pessoas! Valorizamos o
                        desenvolvimento pessoal e profissional, promovendo um ambiente seguro, colaborativo e que
                        favoreça a gestão do conhecimento.</li>
                    <li><strong>Excelência com Foco no Cliente:</strong> O cliente no centro da atenção! Trabalhamos
                        para oferecer a melhor experiência ao cliente, com processos seguros, simples e inovadores.</li>
                    <li><strong>Comunicação:</strong> Quem não se comunica se complica! Incentivamos um ambiente de
                        comunicação constante, clara e eficiente, em todas as direções.</li>
                    <li><strong>Gestão Sistêmica:</strong> Temos a visão do todo! Praticamos Gestão Sistêmica como
                        ferramenta de conexão, execução do planejamento e do processo de tomada de decisão em todos os
                        nossos negócios.</li>
                </ul>
            </div>
            <div class="col-lg-6">
                <h3 class="mb-4">Sustentabilidade</h3>
                <p class="lead">
                    Sustentabilidade é vital! Temos compromisso com a sustentabilidade por meio de uma cultura de
                    geração de valor para a sociedade, promovendo desenvolvimento socioambiental, otimização de recursos
                    e geração de resultados.
                </p>
                <hr>
                <h3 class="mb-4">Ética</h3>
                <p class="lead">
                    Ética é inegociável! Trabalhamos de forma ética, transparente e íntegra, buscando ser referência de
                    conduta exemplar, com tratamento igualitário e respeito à diversidade.
                </p>
                <img src="assets/usisaude/image2.svg" alt="imagem usisaude" class="img-fluid" loading="lazy">
            </div>

        </div>
        <hr class="my-5">

    </div>
</section>