:host {
    section {
        margin-top: 8vh;
    }
    img {
        height: 84vh;
        width: 100%;
    }
    
    .marquee-section {
        margin-top: 1vw;
        margin-bottom: 1vw;
        position: relative;
        min-height: 30px;
    }
    
    .marquee-section,
    .marquee-section * {
        overflow: hidden;
    }
    
    .marquee {
        white-space: nowrap;
    }
    
    .marquee-div {
        position: absolute;
        animation: move-right-to-left linear 60s infinite;
    }
    
    .passagem {
        font-size: 1.2vw;
        font-family: 'Libre Baskerville', serif;
        text-decoration: underline;
    }
    
    @keyframes move-right-to-left {
        from {
            transform: translateX(0);
        }
        to {
            transform: translateX(-50%);
        }
    }
    
    @media (max-width: 1250px) {
        img {
            height: auto;
        }
    }
    @media (min-width: 2100px) {
        .marquee-section {
            min-height: 4em;
        }
        .passagem {
            font-size: 3em;
        }
    }
}