<section>
    <carousel [isAnimated]="true" [showIndicators]="true">
        <slide>
            <img src="assets/apresentacao/apresentacao1.jpg" alt="first slide" class="img-fluid">
        </slide>
        <slide>
            <img src="assets/apresentacao/apresentacao2.jpg" alt="second slide" class="img-fluid">
        </slide>
        <slide>
            <img src="assets/apresentacao/apresentacao3.jpg" alt="third slide" class="img-fluid">
        </slide>
    </carousel>
</section>
<div class="marquee-section">
    <div class="marquee-div">
        <div class="marquee">
            <span class="passagem">&nbsp;Bem-aventurado o homem que teme ao Senhor e anda nos seus caminhos (Salmos 128:1-2) |</span>
            <span class="passagem">&nbsp;O Senhor é o meu pastor, nada me faltará (Salmos 23:1) |</span>
            <span class="passagem">&nbsp;Entrega o teu caminho ao Senhor; confia nele, e ele tudo fará (Salmos 37:5) |</span>
            <span class="passagem">&nbsp;E conhecereis a verdade, e a verdade vos libertará (João 8:32) |</span>
            <span class="passagem">&nbsp;Não andeis ansiosos de coisa alguma; antes, em tudo, sejam conhecidas as vossas petições diante de Deus, pela oração e súplica, com ações de graças (Filipenses 4:6) |</span>
            <span class="passagem">&nbsp;Posso todas as coisas naquele que me fortalece (Filipenses 4:13) |</span>
            <span class="passagem">&nbsp;Deus é amor; e quem está em amor está em Deus, e Deus nele (1 João 4:16) |</span>
            <span class="passagem">&nbsp;E sabemos que todas as coisas contribuem juntamente para o bem daqueles que amam a Deus, aos que são chamados segundo o seu propósito (Romanos 8:28) |</span>
            <span class="passagem">&nbsp;Mas o fruto do Espírito é amor, alegria, paz, longanimidade, benignidade, bondade, fidelidade (Gálatas 5:22) |</span>
            <span class="passagem">&nbsp;Regozijai-vos sempre no Senhor; outra vez digo, regozijai-vos (Filipenses 4:4) |</span>
            <span class="passagem">&nbsp;Se Deus é por nós, quem será contra nós (Romanos 8:31)</span>
        </div>
    </div>
</div>