<section class="history-section py-5 text-dark">
    <div class="container text-white">
        <div class="row align-items-center mb-5">
            <div class="col-md-10 offset-md-1 text-center">
                <h2 class="display-3 mb-4">
                    Hapvida NotreDame Intermédica
                </h2>
                <p class="lead">
                    A Hapvida NotreDame Intermédica é hoje a maior operadora de saúde do Brasil, com mais de 16 milhões de beneficiários de saúde e odontologia. Resultado da fusão entre o Hapvida, iniciado em 1979 com a inauguração do Hospital Antonio Prudente, e a NotreDame Intermédica, pioneira em Medicina Preventiva no país desde 1968, oferecemos serviços integrados de saúde e odontologia para clientes empresariais e individuais em todas as regiões do Brasil: Norte, Nordeste, Centro-Oeste, Sudeste e Sul.
                </p>
                <p class="lead">
                    Verticalizada e consolidada no mercado de planos de saúde e odontológicos, a Hapvida NotreDame Intermédica se destaca pela combinação de crescimento orgânico e aquisições estratégicas. Com uma equipe de mais de 67 mil colaboradores, cerca de 70 mil médicos e 22 mil dentistas credenciados, nossa missão é proporcionar acesso à saúde de qualidade com eficiência de custos.
                </p>
                <p class="lead">
                    Contamos com uma extensa rede assistencial própria, composta por 87 hospitais, 77 prontos atendimentos e 339 clínicas médicas. Além disso, oferecemos aos nossos beneficiários 293 centros de diagnóstico por imagem e coleta laboratorial, incluindo as operações do Laboratório NotreLabs, uma rede nacional capaz de processar 4,5 milhões de análises clínicas e 500 mil exames de imagens por mês.
                </p>
                <p class="lead">
                    Em 2018, a Hapvida NotreDame Intermédica abriu seu capital na B3, fortalecendo sua capacidade de investimento em inovação, tecnologia, infraestrutura e formação de pessoal, sempre com o objetivo de garantir a satisfação dos beneficiários. Nosso foco é oferecer uma experiência de atendimento médico superior, com agendamento simplificado de consultas, atendimento humanizado e ênfase em Medicina Preventiva.
                </p>
                <p class="lead">
                    Como parte de nossa estratégia, dedicamos atenção especial aos aspectos Ambientais, Sociais e de Governança (ASG), buscando a sustentabilidade do negócio. Em 2021, pela segunda vez consecutiva, alcançamos a marca de "carbono neutro", compensando 100% de nossas emissões. Além disso, oferecemos benefícios exclusivos aos beneficiários, dentistas, corretores e corpo clínico, incluindo clubes de vantagens, descontos em drogarias e parcerias em diversos setores.
                </p>
            </div>
        </div>
        <hr class="my-4">
        <div class="row">
            <div class="col-md-8 offset-md-2 text-center">
                <div class="ratio ratio-16x9">
                    <iframe src="https://www.youtube.com/embed/ZTSLJKQq7ps?autoplay=1&amp;feature=oembed"
                        title="YouTube video" allowfullscreen loading="lazy"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"></iframe>
                </div>
            </div>
        </div>
        <hr class="my-4">
        <div class="row">
            <div class="col-md-10 offset-md-1 text-center">
                <h3 class="display-4 mb-4">
                    Nossos Valores
                </h3>
                <ul class="list-unstyled text-start">
                    <li><strong>Acolhimento:</strong> Promovemos um ambiente acolhedor para todos.</li>
                    <li><strong>Comprometimento:</strong> Compromisso com a excelência em cada atendimento.</li>
                    <li><strong>Ética e combate à corrupção:</strong> Atuamos com integridade e transparência.</li>
                    <li><strong>Inovação e aprendizado:</strong> Buscamos constantemente novas soluções e aprendizados.</li>
                    <li><strong>Respeito:</strong> Respeitamos a diversidade e os direitos de todos.</li>
                    <li><strong>Responsabilidade social:</strong> Contribuímos para o desenvolvimento da sociedade.</li>
                    <li><strong>Sustentabilidade:</strong> Comprometidos com práticas sustentáveis e responsáveis.</li>
                    <li><strong>Eficiência em custo:</strong> Oferecemos serviços de qualidade com eficiência de custos.</li>
                </ul>
            </div>
        </div>
    </div>
</section>
