html, body{
    height: 100%;
    font-family: 'Inter', sans-serif !important;
}

.oceaniaBackground{
    background: rgb(6,129,104);
    background: -moz-linear-gradient(45deg, rgba(6,129,104,1) 0%, rgba(0,105,95,1) 25%, rgba(0,77,85,1) 50%, rgba(0,58,65,1) 75%, rgba(0,44,50,1) 100%);
    background: -webkit-linear-gradient(45deg, rgba(6,129,104,1) 0%, rgba(0,105,95,1) 25%, rgba(0,77,85,1) 50%, rgba(0,58,65,1) 75%, rgba(0,44,50,1) 100%);
    background: linear-gradient(45deg, rgba(6,129,104,1) 0%, rgba(0,105,95,1) 25%, rgba(0,77,85,1) 50%, rgba(0,58,65,1) 75%, rgba(0,44,50,1) 100%);
}

.topContent{
    margin-top: 7.5vh;
}

::-webkit-scrollbar {
    width: 5px; 
    height: 12px; 
}

::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
    background: #2404a4;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #1828b3;
}