<div class="topContent d-flex align-items-center text-white" id="apresentation-medsenior"
    style="background: url('../../../assets/medsenior/image3.jpg') no-repeat top center;">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-md-6 text-center" style="margin-top: 4em;">
                <img loading="lazy" [src]="medseniorData.logo" [alt]="medseniorData.logoAlt"
                    class="img-fluid rounded-circle shadow-lg mb-4" style="max-width: 250px;">
                <p class="lead mb-4" style="color: #f0f0f0;">
                    A cada ano construindo nossa história e nosso foco em você
                </p>
                <hr class="my-4" style="border-color: rgba(255,255,255,0.2);">
                <button type="button"
                    class="btn btn-warning btn-lg rounded-pill px-5 fs-4 text-white fw-semibold text-uppercase shadow-lg">confira
                    os planos</button>
            </div>
        </div>
    </div>
</div>
<!-- https://br.freepik.com/fotos-gratis/familia-feliz-jovem-asiatica-desfrutar-de-ferias-na-praia-na-noite-pai-mae-e-filho-relaxam-correndo-juntos-perto-do-mar-enquanto-o-por-do-sol-da-silhueta-estilo-de-vida-viagens-ferias-ferias-verao-conceito_7685881.htm#fromView=keyword&page=1&position=4&uuid=099a3d3b-1f03-4117-ad7a-570e1c6a3ac2 -->